<form class="warlock">
    <div class="form-group">
        <label>
            {{localize "WARLOCK.Dialogs.ReputationConfiguration.Description"}}
        </label>

        <input
            class="field"
            type="string"
            name="description"
            value="{{description}}"
            data-dtype="String">

        <p class="hint">
            {{localize "WARLOCK.Dialogs.ReputationConfiguration.DescriptionHint"}}
        </p>
    </div>
</form>