<div class="warlock dice-roll">
    {{#if flavor}}
    <div class="dice-roll__flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-roll__result ">
        <div class="dice-roll__formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-roll__total">{{total}}</h4>
    </div>
</div>