<div class="warlock chat-card">
    <div class="chat-card__header">
        <img class="chat-card__image" src="{{img}}">
        <div class="chat-card__name">
            {{name}}
        </div>
    </div>

    {{#if description}}
    <hr>

    <div class="chat-card__description">
        {{{description}}}
    </div>
    {{/if}}

    {{#if details}}
    <hr>

    <div class="chat-card__details">
        {{#each details}}
        <span class="chat-card__details-field">
            {{this}}
        </span>
        {{/each}}
    </div>
    {{/if}}
</div>