<div class="warlock chat-card">
    <div class="chat-card__name">
        {{name}}
    </div>

    <div class="chat-card__details">
        <span class="chat-card__details-field">
            {{localize "WARLOCK.StaminaCost"}}: {{data.data.staminaCost}}
        </span>
    </div>

    <hr>

    <div class="chat-card__description">
        {{{data.data.description}}}
    </div>
</div>