<form class="warlock">
    <div class="form-group">
        <label>
            {{localize "WARLOCK.ReputationDescription"}}
        </label>
        <input
            class="field"
            type="string"
            name="description"
            value="{{description}}"
            data-dtype="String">
    </div>
</form>