<form class="warlock">
    <div class="form-group">
        <label>
            {{localize "WARLOCK.Modifier"}}
        </label>
        <input
            class="field"
            type="number"
            name="modifier"
            value="0"
            data-dtype="Number">
    </div>
</form>